/* colours - change them to something pretty?
#F46036 - 
#5B85AA - bg colour
#414770 - font colour
#372248 - 
#171123 
rgb(82, 60, 60) - button red colour
rgb(105, 98, 74) - button yellow colour
*/
/* buttons and fluff */
.controls {
    float:auto;
}
.button-green {
  background-color: rgb(79, 92, 67);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.button-yellow {
    background-color: rgb(82, 60, 60);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button-red {
    background-color: rgb(105, 98, 74);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* nav stuff just a test area*/

/* dropdown menu on nav */  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5B85AA;
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#414770 ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5B85AA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  /* this aligns the list of items */
  .dropdown:hover .dropdown-content {
    display: list-item;
    display: block;    
    right: 50px;
    left: auto;
  }