/* colours - change them to something pretty?
#F46036 - 
#5B85AA - bg colour
#414770 - font colour
#372248 - 
#171123 
*/
body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', Arial;
    font-size: 14px;
    color: #2c2c2c;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /*overflow: hidden; -- this disables scrolling? wtf? */
}
h2 {
  text-align:center;
  color:#414770;
}
h3 {
  text-align: center;
  color:#414770;
}
/* btn configs start */
.button {
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.row .button:hover {
  background-color: black;
}

/* btn configs end */

/* main container */
.container {
  padding: 50px
}
/*top nav colour and alignment*/
.topnav {
  background-color: #5B85AA;
  overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color:#414770 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  hr { display: block; height: 5px;
    border: 0; 
    border-top: 5px solid rgb(82, 103, 223);
    padding: 1px; }
/* nav end */

  /* Container needed to position the button. Adjust the width as needed */
.main {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.main img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.main .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.main .btn:hover {
  background-color: black;
}
/* main content button settings end*/
/* section start */
.section { /* not used */
  background-color:#5B85AA;
}
.row {
  color:#414770;
  background-color:#5B85AA;
}
.column {
  float: left;
  width: 33.33%;  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.title {
  text-align:center;
  color:#414770;
  font-size:medium;  
}
.news_btn {
  text-align:center;
  color:#414770;
}
.form {
  text-align: center;
  float: center;
}
.p1 {
  margin-left: auto;
  margin-right: auto;

}
